body {
    color: white;
    background: black;
    margin: 20px;
    font-family: "chakra Petch", sans-serif;


}


header{
      border-bottom: solid 7px blue;
    font-size: 25px;
    padding: 10px;
    color:aqua

}
section{
     background-color: black;
     padding-bottom: 80 px;
     padding: top 80px;
     display: flex;
     justify-content: center;
    
    }

    .chamada-texto {

margin-right: 5%;
border-right: solid 5px rgb(7, 7, 7);
 
     }
      h1{
    font-size: 32px;
     font-family:Arial, Helvetica, sans-serif;

}

     p{
       font-size:20px
      }







